body {
    background-color: rgb(251, 212, 219);
    background-image: url("images/6Su9AdH.jpg")
}
#navbar {
    position: sticky;
    overflow: hidden;
    
}
h1, h2,h3,h4,h5 {
    color: black;
}
a {
    padding: 1, 1, 1, 1;
    color:black;
    text-underline-offset: none;
}
a:hover{
    color: rgb(0, 255, 13);
    background-color: rgb(246, 117, 117);
    font-size: larger;
    border-radius: 5px;
}

.listItems li {
    padding: auto;
    margin-top: 10px;
    margin-right: 80px;
    display: flex;
    float:left;
    position:relative;
}

#home {
    padding: auto;
    padding-left:10rem;
    margin-top: 12rem;
    margin-left: 3rem;
}
#self h1{
    font-weight: 1000;
    
}
.self h2{
    font-weight: 700;
}

#about,#education, #skill, #projects {
    padding: 1%;
    margin-left: 2rem;
    margin-right: 50%;
}
#contact {
    padding: 1%;
    margin-left: 2rem;
    margin-right: 20%;
}
.social-icon {
    height: 40px;
    width: 40px;
}